.Puzzle {
  display: flex;
  flex-direction: column;
}

.PuzzleLine {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.PuzzleLine + .PuzzleLine {
  margin-top: 20px;
}

.PuzzleLine > * {
  flex: 1 1 0;
}

.PuzzleLine > * + * {
  margin-left: 20px;
}
